In [1]:
# A list of my grades.
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades = ['B', 'C', 'B' , 'D']

In [2]:
# Import pandas.
import pandas as pd
#Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [4]:
my_grades.map({'B':'A', 'C':'B','D':'C'})
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [7]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grades in my_grades:
    print("{:.0f}".format(grades))

92
85
87
98

In [8]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [9]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object